<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Доска Объявлений</title>
</head>
<body>
    <div>
        <a href="{% url 'main' %}">Главная</a>
        {% for category in categories %}
            <a href="{% url 'by_category' category.id %}"> {{ category.name }} </a>
        {% endfor %}
    </div>
    <h2>Объявления по разделу {{ current_category.name }}</h2>
    {% for adv in advertisements %}
        <div>
            <h2>{{ adv.title }}</h2>
            <p>{{ adv.content }}</p>
            <p>{{ adv.price }}</p>
            <p>{{ adv.date_published|date:"d.m.Y H:i:s" }}</p>
        </div>
    {% endfor %}
</body>
</html>